@import "../Root.module.scss";

.die {
  position: relative;
  width: 60px;
  height: 60px;
  width: 20%;
  height: 20%;
  border-radius: 8px;
  background-color: $secondery_3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $secondery_2;
  z-index: 10;

  .grayed-out {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
    background-color: rgba($secondery_1, 0.92);
  }

  .m {
    max-width: 100%;
  }
}

.inactive {
  border: 2px solid $secondery_3;
}

.attack {
  background-color: $attack;
}

.deffence {
  background-color: $deffence;
}
