@import "../Root.module.scss";

body {
  //background-color: $prmery_2;
  background-color: $prmery_1;
  font-family: "Itim", cursive;
}

.game-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  //background-color: tomato;
  border: 3px solid;
}

.game-play {
  //background-color: aquamarine;
  background-color: $prmery_1;
  padding: 0 40px;
  flex: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .dice-area-container {
    // background-color: burlywood;
    // width: 500px;
    // height: 300px;
    // z-index: 2;
    // display: flex;
    // justify-content: center;

    .dice-info {
      width: 530px;
      height: 80px;
      height: 80px;
      //background-color: blueviolet;

      position: fixed;
      left: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .attack-info {
      color: $secondery_2;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      width: 38%;
    }

    .deffence-info {
      color: $secondery_2;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 6%;
      display: flex;
      width: 38%;
    }

    .results-info {
      color: $secondery_2;
      width: 100px;
      display: flex;
      gap: 10px;
      align-items: center;

      span {
        font-size: 30px;
        margin-left: 20px;
      }
    }

    .dice-area {
      background-color: $prmery_1;
      border: 2px solid black;
      padding: 20px;
      width: 18vw;
      height: 32vh;
      border-radius: 8px;
      z-index: 1;
      position: relative;

      .results {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        width: 70%;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        border-bottom: 1px solid $secondery_1;
        //background-color: aqua;
        @media only screen and(max-width: $mobile) {
          bottom: 10px;
        }

        span {
          font-size: 40px;
          font-weight: 700;
          width: 60px;
          text-align: center;

          &:first-of-type {
            color: $prmery_2;
            animation: num-scale-in 2.5s forwards, num-pos-in 1.5s forwards,
              num-opacity 2.2s forwards; // num-pos-in 1s forwards;
          }
          &:last-of-type {
            color: $prmery_2;
            animation: num-scale-in 2.5s forwards, num-pos-in 1.5s forwards,
              num-opacity 2.2s forwards; // num-pos-in 2s forwards;
          }
        }
      }

      @keyframes num-pos-in {
        from {
          transform: translateY(-30px);
        }
        to {
          transform: translateY(-50px);
        }
      }

      @keyframes num-opacity {
        0% {
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        30% {
          opacity: 1;
        }
        95% {
          opacity: 0;
        }
      }

      @keyframes num-scale-in {
        from {
          transform: scale(0.5);
        }
        to {
          transform: scale(1.5);
        }
      }

      .dice-spread {
        //background-color: rgba(159, 140, 177, 0.5);
        border-radius: 8px;
        width: 100%;
        display: flex;

        align-items: center;
      }

      .four-dice {
        justify-content: center;
        gap: 8px;
        margin-bottom: 20px;
      }

      .two-dice {
        justify-content: center;
        gap: 8px;
      }
    }
  }
}
