$prmery_2: rgb(255, 204, 3);
$mobile: 900px;

.container {
  width: 95%;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8%;
  background-color: rgba(127, 255, 212, 0);
  z-index: 15;

  form {
    h2 {
      margin-bottom: auto;
      text-align: center;
      font-size: 32px;
      @media only screen and(max-width: $mobile) {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    position: absolute;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 9%;
    //width: 300px;
    width: 18%;
    //height: 320px;
    height: 38%;
    padding: 40px 160px;
    padding: 2% 8%;
    background-color: rgb(89, 89, 89);
    border: 1px solid rgb(158, 210, 234);
    border-radius: 10px;
    color: $prmery_2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and(max-width: $mobile) {
      width: 25%;
      height: 50%;
      margin-top: 7%;
      padding: 10pxpx 160px;
    }

    input {
      background: none;
      color: white;
      border: none;
      border-bottom: 1px solid rgb(231, 200, 22);

      &:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(255, 255, 255);
      }
    }

    h5 {
      margin: 0;
    }

    .player {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .btns {
      display: flex;
      gap: 20px;

      button {
        color: rgb(231, 200, 22);
        background-color: transparent;
        border: 1px solid rgb(231, 200, 22);
        padding: 10px 0;
        flex: 1;
        z-index: 15;
      }
    }
  }
}
