.big-card-container {
  width: 280px;
  height: 400px;
  background-color: rgb(207, 203, 198);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(104, 104, 104);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }

  img {
    width: 250px;
    height: 250px;
    //object-fit: fill;
  }

  .left {
    margin-left: 140px;
  }

  .right {
    margin-right: 140px;
  }

  .opacity {
    opacity: 0.3;
  }
}

.opacity {
  animation: reveal 1s linear;
}

.green-border {
  border: 3px solid rgb(105, 237, 3);
}

// @keyframes reveal {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
