@import './Root.module.scss';


.menu-container {
  position: absolute;
  //background-color: antiquewhite;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.menu {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  background: transparent;
  border: none;
  width: 80px;
  font-size: 22px;
  margin-top: 50%;
  color: $prmery_2;
  border-bottom: 1px solid $prmery_2;
  text-align: center;

  &:hover {
    color: $secondery_2;
  }
}
