.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 40px;
}

.game-text {
  background-color: salmon;
  padding: 0 40px;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .text-container {
    display: flex;
    flex-direction: column;
  }
}

.game-play {
  background-color: aquamarine;
  padding: 0 40px;
  flex: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .dice-area-container {
    //background-color: burlywood;
    width: 450px;
    height: 300px;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    .dice-area {
      background-color: rgba(161, 153, 153, 0.7);
      border: 2px solid black;
      padding: 20px;
      width: 300px;
      height: 300px;
      border-radius: 8px;
      z-index: 1;
      //display: flex;

      .dice-spread {
        //background-color: rgba(159, 140, 177, 0.5);
        border-radius: 8px;
        width: 100%;
        display: flex;

        align-items: center;
      }

      .four-dice {
        justify-content: center;
        gap: 8px;
        margin-bottom: 30px;
      }

      .two-dice {
        justify-content: center;
        gap: 8px;
      }
    }

    .left-area {
      //background-color: cadetblue;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .right-area {
      //background-color: cadetblue;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

.game-cards {
  background-color: tomato;
  padding: 0 40px;
  flex: 2;

  display: flex;

  .deck-container-l {
    background-color: aliceblue;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .deck-container-r {
    background-color: rgb(126, 142, 156);
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}
