$prmery_1: rgb(53, 52, 52);
$secondery_1: rgb(111, 139, 148);
$secondery_2: rgb(182, 212, 222);

body {
  background-color: $prmery_1;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 40px;
}

.game-text {
  //background-color: salmon;
  background-color: $prmery_1;
  padding: 0 40px;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondery_2;

  .text-container {
    display: flex;
    flex-direction: column;
  }
}

.game-play {
  //background-color: aquamarine;
  background-color: $prmery_1;
  padding: 0 40px;
  flex: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .dice-area-container {
    // background-color: burlywood;
    // width: 500px;
    // height: 300px;
    // z-index: 2;
    // display: flex;
    // justify-content: center;

    .dice-info {
      width: 530px;
      height: 80px;
      //background-color: blueviolet;

      position: fixed;
      left: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .attack-info {
      color: $secondery_2;
      transform: translate(-50%, 15%);
      display: flex;
    }

    .deffence-info {
      color: $secondery_2;
      transform: translate(-50%, 120%);
      display: flex;
    }

    .results-info {
      color: $secondery_2;
      width: 100px;
      display: flex;
      gap: 10px;
      //justify-content: space-around;
      align-items: center;

      span {
        font-size: 30px;
        margin-left: 20px;
      }
    }

    .dice-area {
      background-color: rgba(161, 153, 153, 0.7);
      border: 2px solid black;
      padding: 20px;
      width: 300px;
      height: 300px;
      border-radius: 8px;
      z-index: 1;

      .dice-spread {
        //background-color: rgba(159, 140, 177, 0.5);
        border-radius: 8px;
        width: 100%;
        display: flex;

        align-items: center;
      }

      .four-dice {
        justify-content: center;
        gap: 8px;
        margin-bottom: 20px;
      }

      .two-dice {
        justify-content: center;
        gap: 8px;
      }
    }

    // .left-area {
    //   //background-color: cadetblue;
    //   background-color: $prmery_1;
    //   display: flex;
    //   flex-direction: column;
    //   width: 70px;
    //   height: 100px;

    //   span {
    //     margin-top: 40px;
    //     font-size: 20px;
    //   }
    // }

    // .right-area {
    //   //background-color: cadetblue;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   width: 70px;
    //   height: 100px;
    // }
  }
}

.game-cards {
  //background-color: tomato;
  background-color: $prmery_1;
  padding: 0 40px;
  flex: 2;

  display: flex;

  .deck-container-l {
    //background-color: aliceblue;
    background-color: $prmery_1;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-top: 1px solid $secondery_1;
  }

  .deck-container-r {
    //background-color: rgb(126, 142, 156);
    background-color: $prmery_1;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    border-top: 1px solid $secondery_1;
  }
}
