

$prmery_1: rgb(53, 52, 52);
$prmery_2: rgb(255, 204, 3);

$secondery_1: rgb(111, 139, 148);
$secondery_2: rgb(182, 212, 222);
$secondery_3: rgb(98, 113, 118);

$player_1:rgb(187, 117, 47);
$player_2:rgb(44, 174, 186);

$attack: rgb(30, 30, 30);
$deffence: rgb(97, 114, 43);

$mobile: 900px;