$prmery_1: rgb(53, 52, 52);
$prmery_2: rgb(255, 204, 3);

$secondery_1: rgb(111, 139, 148);
$secondery_2: rgb(182, 212, 222);

.game-text {
  //background-color: salmon;
  background-color: $prmery_1;
  padding: 0 40px;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  //gap: 70vw;
  color: $secondery_2;
  max-width: 100vw;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-container {
    display: flex;
    flex-direction: column;
  }
}
